



.divdalertes{
    height: 100vh;
    width: 100%;
}

.divdalertes .show{
    height: 50px;
    width: 100%;
    max-width: 200px;
    border: 2px solid black;
    border-radius: 30px;

    text-align: center;
    padding-top: 25px;

}
.show:hover:active cue ul.list-categories{
    max-height: inherit;
    opacity: 1;
  }
  
  .list-categories{
    position: absolute;
    top: 80px;


    list-style-type: none;
    padding: 0px;
    margin: 0px;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease;

    display: flex;

  }

  .divdalertes .show .list-categories li{
    
    color: red;
    position: relative;
    padding: 60px;
    justify-content: space-between;
    left: 15%;

    border: 1px solid black; 
    border-radius: 30px;

}